@charset "utf-8";

// 변수
:root {
  --main-color: #0064de;
  --gray: #d9dbe1;
  --white: #fff;
  --skyblue: #10a1c0;
  --darkgray: #555;
  --lightgray: #777;
  --bg-gray: #f3f4f8;
}

// reset 
body,input,select,textarea,button{
  font-family: 'Noto Sans KR', sans-serif;
}
ul,ol{
  list-style: none;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,input,button,article,aside,footer,header,section,footer,nav,figure,main{
  margin: 0;
  padding: 0;
}
input,button,select{
  appearance: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}
img,fieldset{
  border:0;
  vertical-align:top;
}
address{
  font-style: normal;
}
.a11y{
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  opacity: 0;
} 

// common
.inner{
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

// skip navigation
@media (max-width: 960px) {
  .skipToMain {
    display: none;
  } 
}
@media (min-width: 961px) {
	.skipToMain {
		display: block;
		height: 1px;
		margin-bottom: -1px;
		overflow: hidden;
		text-align: center;
		line-height: 48px;
	}
	.skipToMain:focus{
		height: auto;
		margin-bottom: 0;
	}
}

// floating button
.box_floating{
  position: fixed;
  bottom: 50px;
  right: 15px;
  display: flex;
  flex-direction: column;
  z-index: 20;
  &.is_fold{
    .btn_event, .btn_chat{
      display: none;
    }
    .btn_close{
      background-color: var(--main-color);
      transform: rotate(135deg);
    }
  }
  .btn{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
  .btn_top{
    background: var(--white) url('../img/icon_main_top.svg') no-repeat center;
  }
  .btn_event{
    background-color: var(--skyblue);
    background-image: url('../img/icon-event.png'), url('../img/icon_event_txt.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 100%, 50% 20%;
    background-size: 62px, 30px;
  }
  .btn_chat{
    background: var(--main-color) url('../img/icon_chatbot.png') no-repeat 50% 100% / contain;
  }
  .btn_close{
    position: relative;
    background-color: #7f7f7f;
    transition: transform 0.3s;
    &:before,&:after{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 2px;
      background-color: var(--white);
      transform: translate(-50%,-50%) rotate(45deg);
      content: '';
    }
    &:after{
      transform: translate(-50%,-50%) rotate(-45deg);
    }
  }
}

// footer
.footer{
  .inner{
    padding: 20px;
    &.type_gray{
      width: 100%;
      padding: 0;
      background-color: var(--bg-gray);
    }
  }
  .company_info{
    color: var(--lightgray);
    font-size: 14px;
    line-height: 1.58;
  }
  .company_name{
    margin-right: 20px;
    color: #00256c;
    font-weight: 700;
  }
  .vertical_bar{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 8px -1px 9px;
    background: var(--gray);
  }
  .copyright{
    display: block;
    margin-top: 8px;
    color: var(--darkgray);
    font-size: 14px;
    line-height: 1.58;
  }
}
.certification{
  position: absolute;
  top: 50%;
  right: 20px;
  display: flex;
  transform: translateY(-50%);
  .btn_isms {
    display: inline-block;
  }
  .btn_ccm, .btn_skytrax{
    display: inline-block;
    width: 70px;
    height: 70px;
    background: url("https://www.koreanair.com/logo__ccm.png");
  }
  .btn_skytrax{
    background: url("https://www.koreanair.com/logo__skytrax.png");
  }
  .dialog_isms {
    position: absolute;
    left: -50%;
    bottom: 100%;
    padding: 16px 40px 16px 12px;
    border-radius: 2px;
    border: 1px solid #00256c;
    background-color: #fff;
    font-size: 12px;
    line-height: 1.57;
    color: #767676;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.1);
    z-index: 1;
    box-sizing: border-box;
    &:after{
      position: absolute;
      bottom: -8px;
      left: 50%;
      width: 0px;
      height: 0px;
      border-top: 8px solid #fff;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      transform: translateX(-50%);
      content: '';
    }
    &[aria-hidden='false']{
      display: block;
    }
    &[aria-hidden='true']{
      display: none;
    }
    &:before{
      position: absolute;
      bottom: -9px;
      left: 50%;
      width: 0px;
      height: 0px;
      border-top: 9px solid #00256c;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      transform: translateX(-50%);
      content: '';
    }
    .link_view{
      display: inline-block;
      font-size: 16px;
      color: rgb(0, 100, 222);
      &:after{
        display: inline-block;
        margin-left: 4px;
        width: 16px;
        height: 16px;
        background-image: url('https://www.koreanair.com/ico-link-outer.svg');
        vertical-align: -2px;
        content: '';
      }
    }
    .dialog_close{
      position: absolute;
      top: 0;
      right: 0;
      padding: 12px;
      cursor: pointer;
      &:after{
        display: block;
        width: 16px;
        height: 16px;
        background-image: url('https://www.koreanair.com/ring-box__close.svg');
        background-size: 16px 16px;
        content: '';
      }
    }
  }
  .list_isms {
    margin-top: 8px;
    .item{
      display: inline-block;
    }
  }
}


.box_sns{
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
  .item_sns{
    width: 44px;
    height: 44px;
    &:not(:last-child){
      margin-right: 8px;
    }
    &.youtube{
      background-image: url('https://www.koreanair.com/sns__link--youtube.svg');
    }
    &.instagram{
      background-image: url('https://www.koreanair.com/sns__link--instagram.svg');
    }
    &.facebook{
      background-image: url('https://www.koreanair.com/sns__link--facebook.svg');
    }
    &.twitter{
      background-image: url('https://www.koreanair.com/sns__link--twitter.svg');
    }
  }
}
.box_download{
  position: absolute;
  top: 100px;
  right: 20px;
  display: flex;
  .item_download{
    width: 118px;
    height: 34px;
    &+.item_download{
      margin-left: 16px;
    }
    &.google{
      background-image: url('https://www.koreanair.com/wwwupload/maincontents/footer/banner-googleplay.png');
    }
    &.apple{
      background-image: url('https://www.koreanair.com/wwwupload/maincontents/footer/banner-appstore.png');
    }
  }
}
.btn_view_list{
  position: relative;
  align-self: flex-end;
  text-decoration: none;
  font-size: 14px;
  color: var(--darkgray);
  &:after{
    display: block;
    width: 100%;
    height: 10px;
    margin-top: -5px;
    background-color: #8be0f8;
    content: '';
  }
}

// title
.box_title{
  display: flex;
  justify-content: space-between;

}
.title{
  font-size: 28px;
  font-weight: 700;
}
// header
.header{
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
  .inner{
    height: 104px;
  }
  .logo{
    position: absolute;
    top: calc(50% + 10px);
    left: 20px;
    display: flex;
    margin: auto;
    height: 54px;
    transform: translateY(-50%);
    z-index: 20;
  }
  .logo_main{
    display: block;
    width: 162px;
    height: 54px;
    background: url("https://www.koreanair.com/logo--koreanair-pc.png") no-repeat 50%/cover;
  }
  .logo_skyteam{
    display: block;
    width: 38px;
    height: 54px;
    background: url("https://www.koreanair.com/logo--skyteam-pc.png") no-repeat 50%/cover;
  }
  .area_sign{
    position: absolute;
    right: 20px;
    bottom: 10px;
    display: flex;
    align-items: center;
    height: 48px;
    z-index: 20;
  }
}
.main_menu{
  position: absolute;
  bottom: 0;
  display: flex;
  width: calc(100% - 40px);
  justify-content: center;
  z-index: 10;
  .item{
    &:hover, &:focus{
      .item_contents{
        display: flex;
      }
      .item_name:before{
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background: #00256c;
        content: "";
      }
    }
  }
  .item_banner{
    overflow: hidden;
    position: relative;
    display: block;
    width: 275px;
    height: 147px;
    border-radius: 10px;
    &+.item_banner{
      margin-top: 18px;
    }
    .link_text{
      position: absolute;
      top: 0;
      left: 0;
      padding: 24px;
      color: #000;
      font-weight: 700;
      font-size: 16px;
      z-index: 10;
      &:after{
        position: absolute;
        top: calc(50% + 1px);
        right: 0;
        width: 24px;
        height: 24px;
        background-image: url('https://www.koreanair.com/icon-common-right-bk.svg');
        transform: translateY(-50%);
        content: '';
      }
    }
    img{
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .item_name{
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 70px;
    padding: 0 18px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    box-sizing: border-box;
    &:after{
      width: 20px;
      height: 20px;
      margin: 5px 0 0 5px;
      background-image: url('https://www.koreanair.com/icon-arrow-gnb.svg');
      content: '';
    }
  }
  .item_contents{
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    padding: 60px 60px 40px;
    margin: 0 auto;
    border-top: 1px solid var(--gray);
    background: #f8f9fc;
    box-sizing: border-box;
  }
  .menu_title{
    display: block;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.list_menu{
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 300px);
  .item{
    width: 31%;
    max-width: 275px;
    min-height: 274px;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.1);
    margin: 0 20px 0 0;
    background: var(--white);
    flex: none;
    box-sizing: border-box;
    &:nth-child(3n){
      margin-right: 0;
    }
    &:nth-child(n+4){
      margin-top: 20px;
    }
  }
  .menu_link{
    display: inline-block;
    outline: 0;
    color: #555;
    font-size: 14px;
    text-decoration: none;
    line-height: 18px;
    margin: 3px 0;
    padding: 6px 0;
    &:hover{
      text-decoration: underline;
    }
  }
}
.btn_search{
  position: relative;
  border-radius: 40px;
  font-size: 14px;
  min-height: 36px;
  padding-left: 16px;
  padding-right: 36px;
  text-align: left;
  border: none;
  color: #767676;
  background: #f3f4f8;
  cursor: pointer;
  .search_text{
    margin-right: 16px;
  }
  &:before{
    position: absolute;
    top: 50%;
    right: 16px;
    width: 20px;
    height: 20px;
    background-image: url('https://www.koreanair.com/icon-util--search-link.svg');
    transform: translateY(-50%);
    content: '';
  }
}
.link_login{
  display: inline-flex;
  align-items: center;
  height: 27px;
  margin-left: 10px;
  padding: 3px 12px 4px;
  background: #00256c;
  border-radius: 15px;
  font-size: 14px;
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  box-sizing: border-box;
}
.sub_menu{
  position: absolute;
  top: 0;
  right: 20px;
  padding: 14px 0 13px;
  .link{
    font-size: 13px;
    text-decoration: none;
    color: #000;
    &:not(:first-child){
      margin-left: 24px;
    }
    &:before{
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      vertical-align: middle;
      content: '';
    }
    &_event{
      &:before{
        background: url('https://www.koreanair.com/icon-common-16-x-16-event.svg') center;
      }
    }
    &_question{
      &:before{
        background: url('https://www.koreanair.com/icon-common-16-x-16-customer.svg') center;
      }
    }
    &_join{
      &:before{
        background: url('	https://www.koreanair.com/icon--join.svg') center;
      }
    }
  }
}
.btn_lang{
  margin-left: 24px;
  padding: 0;
  font-size: 13px;
  color: #000;
  cursor: pointer;
  &:before{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
    background: url('https://www.koreanair.com/flag-country.jpg') 0 -3px / 16px;
    content: '';
  }
}
.skip{
  display: none;
}


// 스와이퍼 영역
.section_benefit{
  padding: 90px 0;
  .inner{
    padding: 0;
    &:after,&:before{
      position: absolute;
      right: 24px;
      top: 50%;
      width: 32px;
      height: calc(100% - 32px);
      border-radius: 16px;
      box-shadow: 0 0 16px 0 rgba(0,0,0,.1);
      transform: translateY(-50%);
      content: '';
      z-index: 0;
    }
    &:before{
      right: auto;
      left: 24px;
    }
  }
}
.list_benefit{
  position: relative;;
  padding: 16px 0;
  margin: 0 20px;
  background-color: var(--white);
  .item_benefit{
    display: block;
    overflow: hidden;
    text-decoration: none;
    font-size: 0;
    box-shadow: 0 0 16px 0 rgba(0,0,0,.1);
    border-radius: 16px;

    &:hover, &:active{
      .box_text{
        text-decoration: underline;
        color: #000;
      }
      .box_img{
        img{
          transform: scale(1.2);
        }
      }
    }
  }
  .box_text{
    padding: 20px 30px;
    min-height: 97px;
    box-sizing: border-box;
    background-color: var(--white);
  }
  .text{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.56;
  }
  .box_img{
    height: 230px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
    }
  }
  .benefit-button-prev,.benefit-button-next{
    position: absolute;
    top: calc(50% - 45px);
    left: 0;
    width: 30px;
    height: 60px;
    background-color: rgba(0,0,0,.5);
    border-radius: 0 30px 30px 0;
    transform: translateY(-50%);
    transition: 0.3s;
    z-index: 10;
    cursor: pointer;
    &:after{
      position: absolute;
      top: 50%;
      left: -2px;
      width: 30px;
      height: 30px;
      background: url('../img/icon_arrow_next.svg');
      transform: translateY(-50%);
      content: '';
    }
    &[aria-disabled='true']{
      cursor: not-allowed;
    }
  }
  .benefit-button-next{
    right: 0;
    left: auto;
    transform: translateY(-50%) rotate(180deg);
  }
}


// 알려드립니다
.section_notice{
  padding-bottom: 100px;
}
.area_notice{
  display: flex;
  margin-top: 30px;
  .box_img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
  }
  .box_banner{
    position: relative;
    max-width: 500px;
    flex: 1 0 auto;
  }
  .banner_link{
    display: block;
    width: 100%;
    height: 100%;
  }
  .list_notice{
    margin-right: 50px;
    width: 60%;
  }
  .item_notice{
    &:last-child{
      border-bottom: 1px solid var(--gray);
    }
    :hover{
      .headline{
        text-decoration: underline;
      }
    }
    .link{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      color: #000;
      padding: 24px 0;
      border-top: 1px solid var(--gray);
    }
  }
  .date{
    color: #777;
    font-size: 14px;
  }
  .headline{
    overflow: hidden;
    display: -webkit-box;
    margin-right: 60px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .banner_text{
    position: absolute;
    top: 40px;
    left: 40px;
    margin-right: 270px;
  }
  .banner_title{
    color: var(--white);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
  }
  .banner_desc{
    margin-top: 10px;
    color: var(--white);
    font-size: 14px;
    line-height: 1.5;
    text-shadow: 0 0 1px rgba(0,0,0,.8);
  }
}

// 여행의 완성을 위한 경험
.section_category{
  background-color: #d0e7f6;
  .inner{
    padding: 50px 20px;
    background-color: #d0e7f6;
    transition: .3s;
    transition-timing-function: ease-out;
    &.is_active{
      transition: .3s;
      transition-timing-function: ease-out;
      padding-bottom: 100px;
    }
  }
}
.list_category{
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}
.item_category{
  position: relative;
  width: 100%;
  text-align: center;
  img{
    display: block;
    width: 48px;
    height: 48px;
    margin: 15px auto 0;
  }
  &:not(:first-child){
    margin-left: 20px;
  }
  &:after{
    position: absolute;
    left: 0;
    width: 100%;
    height: 125%;
    content: "";
  }
  &:hover{
    .box_link{
      display: flex;
    }
  }

  .box_link{
    position: absolute;
    left: 50%;
    top: calc(100% + 18px);
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 5px 10px;
    transform: translateX(-50%);
    box-sizing: border-box;
    &:before{
      position: absolute;
      top: -8px;
      left: 50%;
      width: 0px;
      height: 0px;
      border-bottom: 8px solid rgba(255, 255, 255, 0.8);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      transform: translateX(-50%);
      content: '';
    }
  }
  .link_experience{
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #222;
    white-space: nowrap;
    box-sizing: border-box;
    &+.link_experience{
      margin-left: -10px;
      &:before{
        display: inline-block;
        width: 1px;
        height: 100%;
        margin-right: 10px;
        background-color: var(--gray);
        vertical-align: middle;
        content: '';
      }
    }
    &:hover{
      text-decoration: underline;
    }
  }
  .btn_category{
    width: 100%;
    padding: 18px;
    color: #000;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.64;
    font-family: 'Noto sans KR';
    box-sizing: border-box;
     &:hover{
      background-color: rgba(255,255,255,.8);
      &+.box_link{
        display: flex;
      }
    }
  }
}


// sitemap
.box_align{
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 39px 20px 35px;
  box-sizing: border-box;
}
.area_sitemap{
  display: flex;
  justify-content: space-between;

  padding-right: 100px;
  box-sizing: border-box;
  padding-right: 26.57%;
  .box_sitemap{
    margin-right: 10px;
  }
  .title_sitemap{
    color: #000;
    font-weight: 700;
    font-size: 16px;
  }
  .list_sitemap{
    margin-top: 15px;
  }
  .link_sitemap{
    display: block;
    margin: 2px 0;
    padding: 5px 0;
    color: #555;
    font-size: 14px;
    text-decoration: none;
    &.bold{
      font-weight: 700;
    }
    &:hover{
      text-decoration: underline;
    }
  }
}




// section_ticket
.section_ticket{
  padding: 80px 0;
  background-image: url('https://www.koreanair.com/wwwupload/maincontents/quickbooking/mainopen.jpg');
  background-position: center top;
  background-size: cover;
}
.box_ticket{
  position: relative;
  &:before{
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #65728a;
    content: '';
  }
}
.list_tab{
  position: relative;
  display: flex;
  .item_tab{
    width: 25%;
    font-size: 16px;
    width: 100%;
    min-height: 54px;
    margin-left: 1px;
    border: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
    padding: 0;
    appearance: none;
    color: var(--white);
    background-color: #65728a;
    &[aria-selected="true"]{
      position: relative;
      color:#000;
      font-weight: 700;
      background-color: var(--white);
      &:before{
        position: absolute;
        top: 54px;
        left: 0;
        width: 100%;
        height: 20px;
        background-color: var(--white);
        z-index: 1;
        content: '';
      }
    }
    &:first-child{
      margin-left: 0;
    }

  }

}
.tabpanel{
  position: relative;
  padding: 30px 40px; 
  border-radius: 20px;
  background-color: var(--white);
  
}


.area_booking{
  display: flex;
  justify-content: flex-start;
}
.box_booking{
  display: flex;
  border: 1px solid var(--gray);
  border-radius: 32px;
  margin-right: 35px;
  .btn_booking{
    min-height: 34px;
    margin: -1px;
    padding: 2px 24px;
    background-color: #00256c;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: var(--white);
  }
  .link_booking{
    display: flex;
    align-items: center;
    min-height: 34px;
    padding: 2px 18px;
    border-radius: 32px;
    padding: 2px 24px;
    color: #00256c;
    text-decoration: none;
  }
}
.box_booking_type{
  display: flex;
  align-items: center;
  .label_booking_type{
    position: relative;
    padding: 10px;
    margin: 0 5px;
    color: #555;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
  }
  .input_booking_type{
    &:checked{
      &+.label_booking_type{
        color: #00256c;
        font-weight: 700;
        &:after{
          position: absolute;
          bottom: 0;
          top: auto;
          left: 10px;
          right: 0;
          height: 3px;
          width: calc(100% - 20px);
          background: #de001b;
          border-radius: 2px;
          content: "";
        }
      }
    }
  }
  .link_booking_type{
    position: relative;
    margin-left: 4px;
    padding: 10px 14px;
    color: #555;
    text-decoration: none;
    font-size: 16px;
    &:after{
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-left: 4px;
      content: '';
      border-left: 1px solid #555;
      border-bottom: 1px solid #555;
      transform: rotate(225deg);
      vertical-align: middle;
    }
  }
}
.area_schedule{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  .box_time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 21.334%;
  }
  .btn_time{
    width: 100%;
    font-size: 32px;
    color: #767676;
    text-align: center;
    font-weight: 700;
  }
  .text_time{
    display: block;
    font-size: 16px;
    font-weight: 400;
  }
  .btn_change{
    flex: none;
    width: 42px;
    height: 42px;
    margin: 0 5px;
    background-image: url('https://www.koreanair.com/booking__swap--disabled.svg');
    background-repeat: no-repeat;
    &.is_active{
      background-image: url('	https://www.koreanair.com/booking__swap.svg');
    }
  }
  .btn_find{
    flex: none;
    align-self: flex-end;
    min-height: 48px;
    padding: 0 20px;
    border-radius: 12px;
    background: #00256c;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
  }
  .box_schedule{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &.is_active{
      .text_schedule{
        font-weight: 700;
        color: #000;
      }
    }
    &.departure{
      width: 28%;
      .btn_schedule{
        padding-left: 30px;
        &:before{
          left: 0;
          right: auto;
          background-image: url('https://www.koreanair.com/icon-main-quick__calendar.svg');

        }
      }
    }
    &.passenger{
      width: 12.5%;
      .btn_schedule{
        padding-right: 30px;
        &:before{
          background-image: url('https://www.koreanair.com/icon-main-quick__passenger.svg');
        }
      }
    }
    &.seat{
      width: 14%;
      .btn_schedule{
        padding-right: 30px;
        &:before{
          background-image: url('https://www.koreanair.com/icon-main-quick__seatclass.svg');
        }
      }
    }
    .title_schedule{
      color: #767676;
      font-size: 14px;
      line-height: 1.58;
      margin-top: 3px;
      margin-bottom: 9px;
    }
    .btn_schedule{
      position: relative;
      width: 100%;
      color: #767676;
      appearance: none;
      padding: 9px 0;
      border-bottom: 0.1rem solid #767676;
      &:before{
        position: absolute;
        right: 0;
        top: 50%;
        width: 24px;
        height: 24px;
        transform: translateY(-50%);
        background-size: 24px 24px;
        content: '';
      }
    }
    .text_schedule{
      display: flex;
      align-items: center;
      color: #767676;
      font-size: 16px;
    }
  }
}

.box_img{
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}