body {
  font-family: "Noto Sans KR", sans-serif;
}

.a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  opacity: 0;
}

button, [type=button] {
  border: 0;
  background: none;
  font-family: "Noto Sans KR", sans-serif;
}

.inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.inner.type_gray {
  padding: 50px 20px 100px;
  background-color: #f3f4f8;
}

.box_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrap_button {
  position: fixed;
  bottom: 50px;
  right: 15px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  transition: 0.3s;
}
.wrap_button.is_fold .btn_event, .wrap_button.is_fold .btn_chat {
  display: none;
}
.wrap_button.is_fold .btn_close {
  background-color: #0064de;
  transform: rotate(135deg);
}
.wrap_button .btn {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #d9dbe1;
  box-sizing: border-box;
}
.wrap_button .btn:not(:last-child) {
  margin-bottom: 10px;
}
.wrap_button .btn_top {
  background: #fff url("../img/icon_main_top.svg") no-repeat center;
}
.wrap_button .btn_event {
  background-color: #10a1c0;
  background-image: url("../img/icon-event.png"), url("../img/icon_event_txt.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 100%, 50% 20%;
  background-size: 62px, 30px;
}
.wrap_button .btn_chat {
  background: #0064de url("../img/icon_chatbot.png") no-repeat 50% 100%/contain;
}
.wrap_button .btn_close {
  position: relative;
  background-color: #7f7f7f;
}
.wrap_button .btn_close:before, .wrap_button .btn_close:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(45deg);
  content: "";
}
.wrap_button .btn_close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn_view_list {
  position: relative;
  align-self: flex-end;
  text-decoration: none;
  font-size: 14px;
  color: #555;
}
.btn_view_list:after {
  display: block;
  width: 100%;
  height: 10px;
  margin-top: -5px;
  background-color: #8be0f8;
  content: "";
}

.box_title {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #d9dbe1;
}
.header .inner {
  height: 104px;
}
.header .logo {
  position: absolute;
  top: calc(50% + 10px);
  left: 20px;
  display: flex;
  margin: auto;
  height: 54px;
  transform: translateY(-50%);
  z-index: 20;
}
.header .logo_main {
  display: block;
  width: 162px;
  height: 54px;
  background: url("https://www.koreanair.com/logo--koreanair-pc.png") no-repeat 50%/cover;
}
.header .logo_skyteam {
  display: block;
  width: 38px;
  height: 54px;
  background: url("https://www.koreanair.com/logo--skyteam-pc.png") no-repeat 50%/cover;
}
.header .area_sign {
  position: absolute;
  right: 20px;
  bottom: 10px;
  display: flex;
  align-items: center;
  height: 48px;
  z-index: 20;
}

.main_menu {
  position: absolute;
  bottom: 0;
  display: flex;
  width: calc(100% - 40px);
  justify-content: center;
  z-index: 10;
}
.main_menu .item:hover .item_contents {
  display: flex;
}
.main_menu .item:hover .item_name:before {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background: #00256c;
  content: "";
}
.main_menu .item_banner {
  overflow: hidden;
  position: relative;
  display: block;
  width: 275px;
  height: 147px;
  border-radius: 10px;
}
.main_menu .item_banner + .item_banner {
  margin-top: 18px;
}
.main_menu .item_banner .link_text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  z-index: 10;
}
.main_menu .item_banner .link_text:after {
  position: absolute;
  top: calc(50% + 1px);
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url("https://www.koreanair.com/icon-common-right-bk.svg");
  transform: translateY(-50%);
  content: "";
}
.main_menu .item_banner img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_menu .item_name {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 70px;
  padding: 0 18px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  box-sizing: border-box;
}
.main_menu .item_name:after {
  width: 20px;
  height: 20px;
  margin: 5px 0 0 5px;
  background-image: url("https://www.koreanair.com/icon-arrow-gnb.svg");
  content: "";
}
.main_menu .item_contents {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding: 60px 60px 40px;
  margin: 0 auto;
  outline: 0;
  border-top: 1px solid #d9dbe1;
  background: #f8f9fc;
  box-sizing: border-box;
}
.main_menu .menu_title {
  display: block;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}

.list_menu {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 300px);
}
.list_menu .item {
  width: 31%;
  max-width: 275px;
  min-height: 274px;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
  margin: 0 20px 0 0;
  background: #fff;
  flex: none;
  box-sizing: border-box;
}
.list_menu .item:nth-child(3n) {
  margin-right: 0;
}
.list_menu .item:nth-child(n+4) {
  margin-top: 20px;
}
.list_menu .menu_link {
  display: inline-block;
  outline: 0;
  color: #555;
  font-size: 14px;
  text-decoration: none;
  line-height: 18px;
  margin: 3px 0;
  padding: 6px 0;
}
.list_menu .menu_link:hover {
  text-decoration: underline;
}

.btn_search {
  position: relative;
  border-radius: 40px;
  font-size: 14px;
  min-height: 36px;
  padding-left: 16px;
  padding-right: 36px;
  text-align: left;
  border: none;
  color: #767676;
  background: #f3f4f8;
  cursor: pointer;
}
.btn_search .search_text {
  margin-right: 16px;
}
.btn_search:before {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 20px;
  height: 20px;
  background-image: url("https://www.koreanair.com/icon-util--search-link.svg");
  transform: translateY(-50%);
  content: "";
}

.link_login {
  display: inline-flex;
  align-items: center;
  height: 27px;
  margin-left: 10px;
  padding: 3px 12px 4px;
  background: #00256c;
  border-radius: 15px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  box-sizing: border-box;
}

.sub_menu {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 14px 0 13px;
}
.sub_menu .link {
  font-size: 13px;
  text-decoration: none;
  outline: 0;
  color: #000;
}
.sub_menu .link:not(:first-child) {
  margin-left: 24px;
}
.sub_menu .link:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
  content: "";
}
.sub_menu .link_event:before {
  background: url("https://www.koreanair.com/icon-common-16-x-16-event.svg") center;
}
.sub_menu .link_question:before {
  background: url("https://www.koreanair.com/icon-common-16-x-16-customer.svg") center;
}
.sub_menu .link_join:before {
  background: url("	https://www.koreanair.com/icon--join.svg") center;
}

.btn_lang {
  margin-left: 24px;
  padding: 0;
  font-size: 13px;
  color: #000;
  cursor: pointer;
}
.btn_lang:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
  background: url("https://www.koreanair.com/flag-country.jpg") 0 -3px/16px;
  content: "";
}

.skip {
  display: none;
}

.section_benefit {
  padding: 90px 0;
}
.section_benefit .inner {
  padding: 0;
}
.section_benefit .inner:after, .section_benefit .inner:before {
  position: absolute;
  right: 24px;
  top: 50%;
  width: 32px;
  height: calc(100% - 32px);
  border-radius: 16px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
  content: "";
  z-index: 0;
}
.section_benefit .inner:before {
  right: auto;
  left: 24px;
}

.list_benefit {
  position: relative;
  padding: 16px 0;
  margin: 0 20px;
  background-color: #fff;
}
.list_benefit .item_benefit {
  display: block;
  overflow: hidden;
  text-decoration: none;
  font-size: 0;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.list_benefit .item_benefit:hover .box_text, .list_benefit .item_benefit:active .box_text {
  text-decoration: underline;
  color: #000;
}
.list_benefit .item_benefit:hover .box_img img, .list_benefit .item_benefit:active .box_img img {
  transform: scale(1.2);
}
.list_benefit .box_text {
  padding: 20px 30px;
  min-height: 97px;
  box-sizing: border-box;
  background-color: #fff;
}
.list_benefit .text {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.56;
}
.list_benefit .box_img {
  height: 230px;
  overflow: hidden;
}
.list_benefit .box_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}
.list_benefit .benefit-button-prev, .list_benefit .benefit-button-next {
  position: absolute;
  top: calc(50% - 45px);
  left: 0;
  width: 30px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 30px 30px 0;
  transform: translateY(-50%);
  transition: 0.3s;
  z-index: 10;
  cursor: pointer;
}
.list_benefit .benefit-button-prev:after, .list_benefit .benefit-button-next:after {
  position: absolute;
  top: 50%;
  left: -2px;
  width: 30px;
  height: 30px;
  background: url("../img/icon_arrow_next.svg");
  transform: translateY(-50%);
  content: "";
}
.list_benefit .benefit-button-prev[aria-disabled=true], .list_benefit .benefit-button-next[aria-disabled=true] {
  cursor: not-allowed;
}
.list_benefit .benefit-button-next {
  right: 0;
  left: auto;
  transform: translateY(-50%) rotate(180deg);
}

.section_notice {
  padding-bottom: 100px;
}

.area_notice {
  display: flex;
  margin-top: 30px;
}
.area_notice .box_img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.area_notice .box_banner {
  position: relative;
  max-width: 500px;
  flex: 1 0 auto;
}
.area_notice .banner_link {
  display: block;
  width: 100%;
  height: 100%;
}
.area_notice .list_notice {
  margin-right: 50px;
  width: 60%;
}
.area_notice .item_notice:last-child {
  border-bottom: 1px solid #d9dbe1;
}
.area_notice .item_notice :hover .headline {
  text-decoration: underline;
}
.area_notice .item_notice .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 24px 0;
  border-top: 1px solid #d9dbe1;
}
.area_notice .date {
  color: #777;
  font-size: 14px;
}
.area_notice .headline {
  overflow: hidden;
  display: -webkit-box;
  margin-right: 60px;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.area_notice .banner_text {
  position: absolute;
  top: 40px;
  left: 40px;
  margin-right: 270px;
}
.area_notice .banner_title {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
}
.area_notice .banner_desc {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.section_category {
  background-color: #d0e7f6;
}
.section_category .inner {
  padding: 50px 20px;
  background-color: #d0e7f6;
  transition: 0.3s;
  transition-timing-function: ease-out;
}
.section_category .inner.is_active {
  transition: 0.3s;
  transition-timing-function: ease-out;
  padding-bottom: 100px;
}

.list_category {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}

.item_category {
  position: relative;
  width: 100%;
  text-align: center;
}
.item_category img {
  display: block;
  width: 48px;
  height: 48px;
  margin: 15px auto 0;
}
.item_category:not(:first-child) {
  margin-left: 20px;
}
.item_category:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 125%;
  content: "";
}
.item_category:hover .box_link {
  display: flex;
}
.item_category .box_link {
  position: absolute;
  left: 50%;
  top: calc(100% + 18px);
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  transform: translateX(-50%);
  box-sizing: border-box;
}
.item_category .box_link:before {
  position: absolute;
  top: -8px;
  left: 50%;
  width: 0px;
  height: 0px;
  border-bottom: 8px solid rgba(255, 255, 255, 0.8);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  transform: translateX(-50%);
  content: "";
}
.item_category .link_experience {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #222;
  white-space: nowrap;
  box-sizing: border-box;
}
.item_category .link_experience + .link_experience {
  margin-left: -10px;
}
.item_category .link_experience + .link_experience:before {
  display: inline-block;
  width: 1px;
  height: 100%;
  margin-right: 10px;
  background-color: #d9dbe1;
  vertical-align: middle;
  content: "";
}
.item_category .btn_category {
  width: 100%;
  padding: 18px;
  color: #000;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.64;
  font-family: "Noto sans KR";
  box-sizing: border-box;
}
.item_category .btn_category:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.item_category .btn_category:hover + .box_link {
  display: flex;
}

.box_align {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 39px 20px 35px;
  box-sizing: border-box;
}

.area_sitemap {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  box-sizing: border-box;
  padding-right: 26.57%;
}
.area_sitemap .box_sitemap {
  margin-right: 10px;
}
.area_sitemap .title_sitemap {
  color: #000;
  font-weight: 700;
  font-size: 16px;
}
.area_sitemap .list_sitemap {
  margin-top: 15px;
}
.area_sitemap .link_sitemap {
  display: block;
  margin: 2px 0;
  padding: 5px 0;
  color: #555;
  font-size: 14px;
  text-decoration: none;
}
.area_sitemap .link_sitemap.bold {
  font-weight: 700;
}
.area_sitemap .link_sitemap:hover {
  text-decoration: underline;
}

.footer .inner {
  padding: 20px;
}
.footer .inner.type_gray {
  width: 100%;
  padding: 0;
  background-color: #f3f4f8;
}
.footer .vertical_bar {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 8px -1px 9px;
  background: #d9dbe1;
}
.footer .address {
  color: #767676;
  font-size: 14px;
  line-height: 1.58;
}
.footer .copyright {
  display: block;
  margin-top: 20px;
  margin-top: 8px;
  color: #555;
  font-size: 14px;
  line-height: 1.58;
}
.footer .company {
  margin-right: 20px;
  color: #00256c;
  font-weight: 700;
}

.box_sns {
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
}
.box_sns .item_sns {
  width: 44px;
  height: 44px;
}
.box_sns .item_sns:not(:last-child) {
  margin-right: 8px;
}
.box_sns .item_sns.youtube {
  background-image: url("https://www.koreanair.com/sns__link--youtube.svg");
}
.box_sns .item_sns.instagram {
  background-image: url("https://www.koreanair.com/sns__link--instagram.svg");
}
.box_sns .item_sns.facebook {
  background-image: url("https://www.koreanair.com/sns__link--facebook.svg");
}
.box_sns .item_sns.twitter {
  background-image: url("https://www.koreanair.com/sns__link--twitter.svg");
}

.box_download {
  position: absolute;
  top: 100px;
  right: 20px;
  display: flex;
}
.box_download .item_download {
  width: 118px;
  height: 34px;
}
.box_download .item_download + .item_download {
  margin-left: 16px;
}
.box_download .item_download.google {
  background-image: url("https://www.koreanair.com/wwwupload/maincontents/footer/banner-googleplay.png");
}
.box_download .item_download.apple {
  background-image: url("https://www.koreanair.com/wwwupload/maincontents/footer/banner-appstore.png");
}

.certification {
  position: absolute;
  top: 50%;
  right: 20px;
  display: flex;
  transform: translateY(-50%);
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip:hover + .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  position: absolute;
  z-index: 1;
  top: -100%;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
}

.btn_ccm {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: url("https://www.koreanair.com/logo__ccm.png");
}

.btn_skytrax {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: url("https://www.koreanair.com/logo__skytrax.png");
}

.section_ticket {
  padding: 80px 0;
  background-image: url("https://www.koreanair.com/wwwupload/maincontents/quickbooking/mainopen.jpg");
  background-position: center top;
  background-size: cover;
}

.box_ticket {
  position: relative;
}
.box_ticket:before {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #65728a;
  content: "";
}

.list_tab {
  position: relative;
  display: flex;
}
.list_tab .item_tab {
  width: 25%;
  font-size: 16px;
  width: 100%;
  min-height: 54px;
  margin-left: 1px;
  border: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  cursor: pointer;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #65728a;
}
.list_tab .item_tab[aria-selected=true] {
  position: relative;
  color: #000;
  font-weight: 700;
  background-color: #fff;
}
.list_tab .item_tab[aria-selected=true]:before {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #fff;
  z-index: 1;
  content: "";
}
.list_tab .item_tab:first-child {
  margin-left: 0;
}

.tabpanel {
  position: relative;
  padding: 30px 40px;
  border-radius: 20px;
  background-color: #fff;
}

@media (max-width: 960px) {
  .skipToMain {
    display: none;
  }
}
@media (min-width: 961px) {
  .skipToMain {
    display: block;
    height: 1px;
    margin-bottom: -1px;
    overflow: hidden;
    text-align: center;
    line-height: 48px;
  }
  .skipToMain:focus {
    height: auto;
    margin-bottom: 0;
  }
}
.area_booking {
  display: flex;
  justify-content: flex-start;
}

.box_booking {
  display: flex;
  border: 1px solid #d9dbe1;
  border-radius: 32px;
  margin-right: 35px;
}
.box_booking .btn_booking {
  min-height: 34px;
  margin: -1px;
  padding: 2px 24px;
  background-color: #00256c;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
.box_booking .link_booking {
  display: flex;
  align-items: center;
  min-height: 34px;
  padding: 2px 18px;
  border-radius: 32px;
  padding: 2px 24px;
  color: #00256c;
  text-decoration: none;
}

.box_booking_type {
  display: flex;
  align-items: center;
}
.box_booking_type .label_booking_type {
  position: relative;
  padding: 10px;
  margin: 0 5px;
  color: #555;
  text-align: center;
  font-size: 16px;
  vertical-align: middle;
}
.box_booking_type .input_booking_type:checked + .label_booking_type {
  color: #00256c;
  font-weight: 700;
}
.box_booking_type .input_booking_type:checked + .label_booking_type:after {
  position: absolute;
  bottom: 0;
  top: auto;
  left: 10px;
  right: 0;
  height: 3px;
  width: calc(100% - 20px);
  background: #de001b;
  border-radius: 2px;
  content: "";
}
.box_booking_type .link_booking_type {
  position: relative;
  margin-left: 4px;
  padding: 10px 14px;
  color: #555;
  text-decoration: none;
  font-size: 16px;
}
.box_booking_type .link_booking_type:after {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: 4px;
  content: "";
  border-left: 1px solid #555;
  border-bottom: 1px solid #555;
  transform: rotate(225deg);
  vertical-align: middle;
}

.area_schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.area_schedule .box_time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 21.334%;
}
.area_schedule .btn_time {
  width: 100%;
  font-size: 32px;
  color: #767676;
  text-align: center;
  font-weight: 700;
}
.area_schedule .text_time {
  display: block;
  font-size: 16px;
  font-weight: 400;
}
.area_schedule .btn_change {
  flex: none;
  width: 42px;
  height: 42px;
  margin: 0 5px;
  background-image: url("https://www.koreanair.com/booking__swap--disabled.svg");
  background-repeat: no-repeat;
}
.area_schedule .btn_change.is_active {
  background-image: url("	https://www.koreanair.com/booking__swap.svg");
}
.area_schedule .btn_find {
  flex: none;
  align-self: flex-end;
  min-height: 48px;
  padding: 0 20px;
  border-radius: 12px;
  background: #00256c;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.area_schedule .box_schedule {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.area_schedule .box_schedule.is_active .text_schedule {
  font-weight: 700;
  color: #000;
}
.area_schedule .box_schedule.departure {
  width: 28%;
}
.area_schedule .box_schedule.departure .btn_schedule {
  padding-left: 30px;
}
.area_schedule .box_schedule.departure .btn_schedule:before {
  left: 0;
  right: auto;
  background-image: url("https://www.koreanair.com/icon-main-quick__calendar.svg");
}
.area_schedule .box_schedule.passenger {
  width: 12.5%;
}
.area_schedule .box_schedule.passenger .btn_schedule {
  padding-right: 30px;
}
.area_schedule .box_schedule.passenger .btn_schedule:before {
  background-image: url("https://www.koreanair.com/icon-main-quick__passenger.svg");
}
.area_schedule .box_schedule.seat {
  width: 14%;
}
.area_schedule .box_schedule.seat .btn_schedule {
  padding-right: 30px;
}
.area_schedule .box_schedule.seat .btn_schedule:before {
  background-image: url("https://www.koreanair.com/icon-main-quick__seatclass.svg");
}
.area_schedule .box_schedule .title_schedule {
  color: #767676;
  font-size: 14px;
  line-height: 1.58;
  margin-top: 3px;
  margin-bottom: 9px;
}
.area_schedule .box_schedule .btn_schedule {
  position: relative;
  width: 100%;
  color: #767676;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 9px 0;
  border-bottom: 0.1rem solid #767676;
}
.area_schedule .box_schedule .btn_schedule:before {
  position: absolute;
  right: 0;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  background-size: 24px 24px;
  content: "";
}
.area_schedule .box_schedule .text_schedule {
  display: flex;
  align-items: center;
  color: #767676;
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */